<div class="content">
    <!-- Simple Blocks -->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div ng-cloak id="detailViewWidget" class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <button class="btn btn-sm btn-default"
                                style="margin-right:20px;"
                                type="button"
                                ng-click="goBack()">Go Back</button>
                        <button
                                type="submit"
                                class="btn btn-sm bg-primary-dark"
                                style="color:#fff;"
                                ng-disabled="disableDetailViewButton"
                                ng-click="saveForm(detailSchema, detailSchema.form, detailSchemaData)" >
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </ul>
                    <h3 class="block-title">{{detailSchema.model}} Data Management</h3>
                </div>

                <div class="block-content block-content-full" style="padding-top: 0;">
                    <form name="detailSchema.form" ng-validate="detailSchema.validations" novalidate  class="form-horizontal">
                        <!--Add container class and style related to this..-->
                        <div ng-class="container.class" ng-style="container.style" ng-repeat="container in detailSchema.container">
                            <formly-form   model="detailSchemaData" fields="container.schema" ></formly-form>
                        </div>

                    </form>
                </div>

                <div class="block-content block-content-mini block-content-full">
                    <div class="row">
                        <div class="col-xs-12 text-right">
<!--
                            <button
                                    type="submit"
                                    class="btn btn-sm bg-primary-dark"
                                    style="color:#fff;"
                                    ng-disabled="disableDetailViewButton"
                                    ng-click="saveForm(detailSchema, detailSchema.form, detailSchemaData)" >
                                <i class="fa fa-save"></i>
                                Update Data
                            </button>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <!-- Simple Blocks -->
    <div class="row" ng-repeat="(relationType, relationList) in relationSchema.relations">
        <div ng-if="checkTableDisplay(relationType, relationList)" ng-repeat="relationDetail in relationList">
            <div  ng-include="'detailView/views/tableView.html'"></div>
        </div>

    </div>
</div>

<!-- For showing dialog box -->
<snaphy-dialog
        message="{{dialog.message}}"
        table-title="{{dialog.title}}"
        on-cancel="dialog.onCancel()"
        on-confirm="dialog.onConfirm()"
        show-dialog="dialog.show">
</snaphy-dialog>
